Repository Kong/spec-editor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ValeryG, @vaibhavrajsingh2001, @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @ValeryG @vaibhavrajsingh2001 @adamdehaven @jillztom

# Workflows & CI
/.github/ @adamdehaven @jillztom @ValeryG @vaibhavrajsingh2001
/lefthook.yaml @adamdehaven @jillztom @ValeryG @vaibhavrajsingh2001

# Main library code
/src/ @Kong/team-core-ui

# ================================================
# Renovate Bot approvals
# Allow Kongponents BOT to approve dependency updates
# These rules MUST remain at the bottom as the last entry
/package.json @kongponents-bot @Kong/team-core-ui @ValeryG @vaibhavrajsingh2001
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @ValeryG @vaibhavrajsingh2001

fix: update navbar ui [TDX-5982] (#81)
  .stylelintrc.mjs
  src/App.vue
  src/components/SettingsModal.vue
  src/composables/useApiDocOptions.ts
Owners: @ValeryG, @vaibhavrajsingh2001, @adamdehaven, @jillztom, @Kong/team-core-ui

feat: add monaco editor component [TDX-5985]
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/Editor.vue
Owners: @ValeryG, @vaibhavrajsingh2001, @adamdehaven, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix: add more editor options
  src/components/Editor.vue
Owners: @Kong/team-core-ui

chore: revert eslint config
  eslint.config.mjs
Owners: @ValeryG, @vaibhavrajsingh2001, @adamdehaven, @jillztom

fix: rename component
  src/App.vue
  src/components/SpecEditor.vue
Owners: @Kong/team-core-ui

feat: add monaco editor component [TDX-5985] (#83)
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/SpecEditor.vue
Owners: @kongponents-bot, @Kong/team-core-ui, @ValeryG, @vaibhavrajsingh2001

feat: add toolbar [TDX-5984]
  src/App.vue
  src/components/SettingsModal.vue
  src/components/SpecToolbar.vue
  src/components/common/BaseModal.vue
Owners: @Kong/team-core-ui

chore: lint
  src/App.vue
Owners: @Kong/team-core-ui

fix: zIndex
  src/components/DropzoneModal.vue
Owners: @Kong/team-core-ui

fix: address pr suggestions
  src/App.vue
  src/components/SettingsModal.vue
  src/components/SpecToolbar.vue
Owners: @Kong/team-core-ui

fix: enhance toolbar styling and functionality
  src/App.vue
Owners: @Kong/team-core-ui

fix: editor overflow
  src/App.vue
Owners: @Kong/team-core-ui

fix: truncate toolbar title
  src/App.vue
Owners: @Kong/team-core-ui

fix: zIndex and height
  src/App.vue
  src/components/DropzoneModal.vue
  src/components/SpecEditor.vue
  src/components/SpecToolbar.vue
  src/components/common/BaseModal.vue
  src/styles/globals.scss
Owners: @Kong/team-core-ui

feat: add toolbar [TDX-5984] (#84)
  src/App.vue
  src/components/SettingsModal.vue
  src/components/SpecEditor.vue
  src/components/SpecToolbar.vue
  src/styles/globals.scss
Owners: @Kong/team-core-ui

feat(editor): add loading and empty state [TDX-5987]
  src/components/SpecEditor.vue
Owners: @Kong/team-core-ui

chore: remove unnecessary import
  src/components/SpecEditor.vue
Owners: @Kong/team-core-ui

feat(editor): add loading and empty state [TDX-5987] (#85)
  src/components/SpecEditor.vue
Owners: @Kong/team-core-ui

fix: update upload flow
  src/App.vue
  src/assets/specs/github.json
  src/components/SpecEditor.vue
  src/composables/useToaster.ts
Owners: @Kong/team-core-ui

fix: enhance file loading and selection
  src/App.vue
  src/components/SpecEditor.vue
Owners: @Kong/team-core-ui

fix: remove disabling spec file validation
  src/App.vue
Owners: @Kong/team-core-ui

fix: update upload flow [TDX-5986] (#86)
  src/App.vue
  src/assets/specs/github.json
  src/components/SpecEditor.vue
  src/composables/useToaster.ts
Owners: @Kong/team-core-ui

refactor: update kong logo and modal usage [TDX-6002]
  src/App.vue
  src/components/KongLogo.vue
  src/components/SettingsModal.vue
  src/components/common/BaseModal.vue
  src/components/common/InputLabel.vue
Owners: @Kong/team-core-ui

refactor: update kong logo and modal usage [TDX-6002] (#87)
  src/App.vue
  src/components/KongLogo.vue
  src/components/SettingsModal.vue
  src/components/common/BaseModal.vue
  src/components/common/InputLabel.vue
Owners: @Kong/team-core-ui

feat: add collapsible pane functionality [TDX-5988]
  src/App.vue
Owners: @Kong/team-core-ui

fix: address pr suggestions
  src/App.vue
Owners: @Kong/team-core-ui

feat: add collapsible pane functionality [TDX-5988] (#88)
  src/App.vue
Owners: @Kong/team-core-ui

refactor(editor): use monaco-editor [TDX-6018]
  package.json
  pnpm-lock.yaml
  src/components/SpecEditor.vue
  src/composables/useMonacoEditor.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @ValeryG, @vaibhavrajsingh2001

fix: use timeout
  src/composables/useMonacoEditor.ts
Owners: @Kong/team-core-ui

chore: increase timeout
  src/composables/useMonacoEditor.ts
Owners: @Kong/team-core-ui

refactor(editor): use monaco-editor [TDX-6018] (#89)
  package.json
  pnpm-lock.yaml
  src/components/SpecEditor.vue
  src/composables/useMonacoEditor.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @ValeryG, @vaibhavrajsingh2001

fix(editor): update sample specs and formatting [TDX-6019]
  src/App.vue
  src/assets/sample-spec.json
  src/assets/specs/cloudflare.json
  src/assets/specs/kongair.json
  src/assets/specs/openapi-async.json
  src/assets/specs/stoplight.json
  src/components/SpecEditor.vue
  src/composables/useMonacoEditor.ts
Owners: @Kong/team-core-ui

chore: remove unnecessary log
  src/composables/useMonacoEditor.ts
Owners: @Kong/team-core-ui

fix(editor): update sample specs and formatting [TDX-6019] (#90)
  src/App.vue
  src/assets/sample-spec.json
  src/assets/specs/cloudflare.json
  src/assets/specs/kongair.json
  src/assets/specs/openapi-async.json
  src/assets/specs/stoplight.json
  src/components/SpecEditor.vue
  src/composables/useMonacoEditor.ts
Owners: @Kong/team-core-ui

feat(editor): add spectral linting and validation [TDX-6017]
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/SettingsModal.vue
  src/composables/useMonacoEditor.ts
  src/workers/spectral.worker.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @ValeryG, @vaibhavrajsingh2001

chore: update title
  src/App.vue
Owners: @Kong/team-core-ui

fix: fixing pnpm and bumping spec-renderer to latest [TDX-6090]
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @ValeryG, @vaibhavrajsingh2001, @adamdehaven, @jillztom

fix: fixing pnpm and bumping spec-renderer to latest [TDX-6090] (#92)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @ValeryG, @vaibhavrajsingh2001, @adamdehaven, @jillztom
